h3 {
    color: cadetblue;
}
a {
    color: rgb(219, 126, 126);
    text-decoration: none;
    background-color: lightblue;
    padding: 10px;
    margin: 15px;
}
h1{
    color: cadetblue;
    background-color: cornsilk;
}
input[type=submit] {
    color: darksalmon;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aliceblue;
    border-radius: 5em;
}